.traffic-icon {
  font-size: 3.5rem; 
  color: green; 
}
  
.traffic-light .light.active {
  opacity: 1;
}
  
.traffic-light .green-flash {
  animation: flashing 3s infinite alternate;
}
  
@keyframes flashing {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

.car-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.north-to-south {
  animation: moveNS 4s linear infinite;
}

.east-to-west {
  animation: moveEW 4s linear infinite;
}

@keyframes moveNS {
  0% { top: 0; left: 50%; }
  100% { top: 100%; left: 50%; }
}

@keyframes moveEW {
  0% { left: 0; top: 50%; }
  100% { left: 100%; top: 50%; }
}

.red {
  background-color: var(--color-danger);
}

.yellow {
  background-color: var(--color-warning);
}

.green {
  background-color: var(--color-success);
}

.traffic-light {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 240px;
  background-color: #0b0b0b;
  padding: 10px;
  border-radius: 10px;
}

.northLight, .eastLight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.light {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px 0;
}
