.car {
  width: 7rem;
  height: 2rem;
  background-color: blue;
  position: absolute;
  border-radius: 0.5rem;
  transition: transform 2s;
}
  
  .north-south {
    transform: translateY(-100%);
  }
  
  .east-west {
    transform: translateX(-100%);
  }
  
  .car.waiting {
    transform: none;
  }
  .north-to-south {
    animation: moveNS 4s linear infinite;
  }
  
  .east-to-west {
    animation: moveEW 4s linear infinite;
  }
  
  @keyframes moveNS {
    0% { top: 0; left: 50%; }
    100% { top: 100%; left: 50%; }
  }
  
  @keyframes moveEW {
    0% { left: 0; top: 50%; }
    100% { left: 100%; top: 50%; }
  }